{% extends 'blog/base_account.html' %}
{% block title %}
    Редагувати профіль
{% endblock %}
{% block account_content %}
    <div class="container text-center sign-in">
        {% if user_form.errors %}
            <p>{{ user_form.errors }}</p>
                <p>Щось забули</p>
        {% elif user_form.is_valid  %}
            <h1 class="h3 mb-3 font-weight-normal">
                Данні профіля успішно змінені
            </h1>
            <a href="{% url 'blog:dashboard' %}" class="btn btn-dark mb-4">Повернутися до списку ваших постів</a>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">
                Будь ласка, заповніть поля
            </h1>
        {% endif %}
        <form action="." class="form-sign-in login-form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="firstNameInput">Ім'я</label>
                {{ user_form.first_name }}
            </div>
            <div class="form-group">
                <label for="lastNameInput">Прізвище</label>
                {{ user_form.last_name }}
            </div>
            <div class="form-group">
                <label for="usernameInput">Логін</label>
                {{ user_form.username }}
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                {{ user_form.email }}
            </div>
            {% csrf_token %}
            <button class="btn btn-lg btn-primary mt-2" type="submit">
                Зберегти зміни
            </button>
        </form>
    </div>
{% endblock %}